<!-- dwitter/templates/base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Include the Bulma CSS framework for styling -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title>Dwitter</title>
</head>
<body>

    <section class="hero is-small is-success mb-4">
        <div class="hero-body">
            {% if user.is_authenticated %}
                <h1 class="title is-1"><a href="{% url 'dwitter:dashboard' %}">Dwitter</a></h1>
            {% else %}
                <h1 class="title is-1"><a href="{% url 'users:login' %}">Dwitter</a></h1>
            {% endif %}
            <p class="subtitle is-4">
                Your tiny social network built with Django
            </p>
        </div>
    </section>

    <div class="container">
        <div class="columns">

            {% block content %}

            {% endblock content %}

        </div>
    </div>

    {% if user.is_authenticated %}
    <footer class="footer">
        <div class="columns">
            <div class="column is-four-fifths">
                This app is based on a tutorial from <a href="https://realpython.com/django-social-network-1/">RealPython.com</a>.
            </div>
            <div class="column is-one-fifth">
                <a href="{% url 'users:logout' %}">
                    <button class="button is-danger is-fullwidth is-medium mt-5">
                        Logout
                    </button>
                </a>
            </div>
        </div>
    </footer>
    {% endif %}

</body>
</html>